<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>京东订单</title>
  <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/2.0.1/weui.min.css"><link>
  <link rel="stylesheet" href="/style/jdlist.css">
</head>
<body>
  <div id="mask" style="display: none"><div>数据加载中...</div></div>
  <div class="page">
    <div class="page__hd">
      <h1 class="page__title">我的京东订单列表</h1>
      <p class="page__desc">订单预览</p>
      <div id="nodata" style="display: none" class="weui-loadmore weui-loadmore_line">
        <span class="weui-loadmore__tips">暂无订单数据</span>
      </div>
    </div>
    <div id="JdlistWrap" class="page__bd">
    </div>
    <div id='viewMore' class="viewMore" onclick="getJdlist()">查看更多订单...</div>
  </div>
  <script src="/javascript/axios.js"></script>
  <script src="/javascript/jdList.js"> </script>
</body>
</html>